@model Beader.Models.IndexModel
@{
    ViewData["Title"] = "Bead Template Maker";
}

<div style="padding:20px;margin:auto;font-size:2rem;height:200px;">
    <a href="Draw">Get Drawing!</a>
</div>