@{
    ViewData["Title"] = "Privacy";
}

<div style="padding:10px;">
   <p>We take your privacy seriously. By visiting the Beader.art website, you are accepting the privacy practices described below.</p>

   <b>Personal Information</b>

   <p>Beader.art collects personal information you give to us when you visit our site, order products and/or contact us by email. We only collect personally identifiable information that you provide to us such as: name and e-mail address, and any information you may volunteer.  Beader.art does not collect or retain any credit card or payment information.</p>

   <b>Non-Personal Information</b>

   <p>Beader.art also collects and may record certain non-personal information from your browser. This information consists of certain technical, computer and connection information, such as: the page you visited before coming to our site; your internet protocol (IP) address (a unique number that identifies your internet access which is generated when your web browser or email application requests a web page or email from another computer on the internet); the domain name and host from which you access the internet; your browser type and version; and your operating system.</p>

   <b>Cookies</b>

   <p>In addition to the non-personal information collected, the Beader.art website automatically receives and stores certain types of information through the use of “cookies.” Cookies are files containing small quantities of data, usually including an anonymous identifier sent to your web browser and placed on your computer’s hard drive. Some of the cookies that we use collect and store information about your surfing behavior and preferences on the Beader.art website, such as information about your visit to certain pages. The use of cookies enables us to track your experience on our site, both during a session and over time, and to store the name of our customers when they log on, as well as provide customized content in order to provide a better experience. You may configure your browser to reject cookies, but this may limit your ability to take full advantage of some of the features offered on our site.</p>

   <b>Information Usage</b>

   <p>The information we collect is used for the general purposes of fulfilling requests for products and better serving the Beader.art customers by making their online visits more enjoyable. We use the personal information provided to process orders. We do not sell or rent any personal information we collect from visitors to the Beader.art website. We may use non-personal information that we or our third-party agents collect for internal business purposes and to monitor site security. We reserve the right to track aggregate information (such as usage trends) for internal purposes to better enable us to provide site improvements and meet our customers’ preferences, but this information will not include any personal information.</p>

   <b>Information Sharing and Disclosure</b>

   <p>Beader.art does not share or disclose information to third parties, except under the following limited conditions with respect to our third party business agents where the provision of personally-identifiable information to such third parties is made solely for our own business purposes, such as order fulfillment or to provide services to us.</p>

   <p>Beader.art does not share e-mail address information with any third parties.</p>

   <p>Notwithstanding anything else in this privacy policy, we may disclose personal and other collected information when required by law, when we deem it necessary to protect the rights or safety of site users, our employees or property, or when violations of our terms of use have occurred. This includes exchanging information with third parties and organizations in connection with credit risk reduction and the investigation or prevention of suspected fraud or illegal activity. We may also transfer or disclose personal information if we are acquired by or merged with another company.</p>

   <b>Security Procedures</b>

   <p>We protect the security of the information you provide online by using Secure Socket Layer (SSL) security software that encrypts certain kinds of personal information during transmission, such as credit card information, throughout the check-out process. The security features are automatic. To be sure your information is SSL encrypted, depending on your browser, look for an unbroken key or closed padlock icon on your browser to indicate that the SSL is active and your information is secure. Beader.art also employs industry standard firewall and anti-virus protection along with maintaining vendor security patches and host-based intrusion detection systems.</p>

   <p>Beader.art does not store any personally identifiable information on the server.  Information collected is immediately used and discarded.</p>

   <b>Children’s Privacy</b>

   <p>Beader.art does not knowingly collect information from children under the age of 13.</p>

   <b>Links</b>

   <p>Although we may provide links to third party web sites on the Beader.art website, such sites operate independently (even when such sites belong to our affiliated companies) and we are not responsible for any of the content or information collection practices of those third-party sites and expressly disclaim any liability or responsibility for the policies relating to privacy on any of such linked websites. We strongly advise you to review the privacy policies of any website you visit.</p>

   <b>Notification of Changes to this Privacy Policy</b>

   <p>We may update or change this privacy policy from time to time. We will post those changes to this privacy statement. If there is a material change to our information usage practices that affect your personally identifiable information, we will notify you by posting a notice on the homepage of the Beader.art website, but we suggest you check this privacy policy on occasion for any changes or updates.</p>

   <b>Contact Information</b>

   <p>If you have any questions about this privacy statement or your dealings with this site, you may contact us at: chet@chet.us.</p>

   Last modified on February 13, 2023
</div>